<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a style='margin-left:20px' class="navbar-brand" href="#">Couteau suisse</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/index">Calculateur du salaire brut en net</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dates">Différence de dates en jours</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/credit">Calculateur de crédit immobilier</a>
      </li>
  </div>
</nav>
